*.icloud
*.aux
*.log
*.toc
*.ist
*.fdb_latexmk
*.blg
*.bbl
*.fls
*.glg
*.glo
*.xdy
*.out
/_site/*
/.sass-cache/*
*.listing
/Contributing/.master
/Example-Example-Problem/*
*.pytxcode
*/pythontex-files-Main/*
*.DS_Store
*.pyc
__pychache__/*
.snakemake/*
*.ipynb_checkpoints*
*octave-workspace
/_jupyterblog/*.png
_jupyterblog/*.pdf
/_octaveblog/*.png

/_octaveblog/*_files/*
/_octaveblog/*.md
/_jupyterblog/*_files/*
/_jupyterblog/*.md
*.pdf
*.gz
